@using Epam.UsersInfo.Entities;
@using Epam.UsersInfo.WebUI.Models;
@{
    Layout = "~/_Layout.cshtml";
    Image image = null;
}
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Age</th>
                    @if (User.IsInRole("User"))
                    {
                        <th style="width:300px;">Awards</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Common.UserBll.GetAll())
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Birthday.ToShortDateString()</td>
                        <td>@user.Age</td>
                        @if (User.IsInRole("User"))
                        {
                            <td>
                                @foreach (var award in Common.AwardBll.GetAwardsByIds(Common.UserBll.GetUserAwardsIds(user.Id)))
                                {
                                    image = Common.AwardBll.GetAwardImageByAwardImageId(award.ImageId);
                                    <div style="width:250px;">
                                        <img class="awardList_item__image" src="data:@image.MimeType;base64,@image.ImageData" alt="Award image"/>
                                        @award.Name
                                    </div>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>